<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add Friend</title>
    </head>
    <body>
        <h2>Add Friend Here</h2>
        <div>
            <form method="POST" action="">
                {% csrf_token %}
                <div role="alert">
                    <p>Nama: {{form.name}}</p>
                    <p>NPM : {{form.npm}}</p>
                    <p>DOB : {{form.dob}}</p>
                    <input type="submit" value="Submit"/>
                </div>
            </form>
        </div>
    </body>    
</html>
