<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Message</title>
  </head>
  <body>
    <table border="1px solid black">
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      
      {% for x in data %}
      <tr>
         <td>{{x.to}}</td>
         <td>{{x.sender}}</td>
         <td>{{x.title}}</td>
         <td>{{x.message}}</td>
      </tr>
      {% endfor %} 
    </table>
  </body>
</html>
